*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans';
}

body{
    background-color:#E8F3FE;
}

.task{
    justify-content:center;
    margin-top:40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:50px;
}

.task__manager{
    display:flex;
    flex-direction:column;
    width:40%;
    background:white;
    padding:30px;
    gap:25px;
    align-items:center;
    border-radius:10px;
    box-shadow:0 1px 10px black;
}

.task__manager h1{
    font-size:35px;
    color:#003979;
}
.task__manager > input{
    height:40px;
    width:100%;
    padding:0 20px;
    border:1px solid rgba(0, 0, 0, 0.384);
    border-radius:5px;
}
.task__manager > input:focus{
    outline:none;
    border:1px solid #003979;
}
.task__manager > textarea{
    height:60px;
    width:100%;
    padding:10px 20px;
    border:1px solid rgba(0, 0, 0, 0.384);
    border-radius:5px;
}
.task__manager > textarea:focus{
    outline:none;
    border:1px solid #003979;
}

.task__manager > button{
    height:40px;
    width:50%;
    border-radius:10px;
    border:0px;
    background:#003979;
    color:white;
}



.task__list{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:45%;
    align-items:center;
    margin-bottom:30px;
    overflow:auto
}
.task__list h1{
    font-size:35px;
    color:#003979;
}

.task__listItem{
    display:flex;
    justify-content:space-between;
    width:100%;
    background:white;
    padding:15px 10px;
    box-shadow:0 2px 5px black;
}
.task__listItem h3{
    color:#003979;
}

.task__listItem div{
    display:flex;
    gap:10px;
}
.com_button{
    height:25px;
    width:80px;
    background:#003979;
    color:white;
    outline:none;
    border-radius:5px;
    border:0px;
}
.del_button{
    height:25px;
    width:80px;
    background:#D60707;
    color:white;
    outline:none;
    border-radius:5px;
    border:0px;
}
